@model IEnumerable<ProjectData.Models.Country>
@{
    ViewData["Title"] = "Countries";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<p>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Return to tables</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                    Name
                </a>
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.country_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.country_id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.country_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
